PORT=5000
MONGO_URI=mongodb://localhost:27017/astra_db
JWT_SECRET=astra_secret_key_123
JWT_REFRESH_SECRET=astra_refresh_secret_key_456
ML_SERVICE_URL=http://localhost:8000/api/v1/ml/forecast
CORS_ORIGIN=http://localhost:3000
